body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #c1f609;
}

header h1, header p {
    text-align: center;
}

section {
    margin-top: 20px;
    padding: 20px;
    background: #fff;
}

h2 {
    color: #c1f609;
    background-color: black;
}

.call-to-action, .privacy, .early-tech {
    background-color: #eef2f7;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #c1f609;
    text-decoration: underline;
}

footer a:hover {
    color: black;
}

#content {
    padding-top: 87px;
}

#signin-button {
    position: absolute;
    border-radius: 0;
    right: 0px;
    margin: 0px;
}

#augmail-button {
    display: none;
}

.glimpse {
    margin-bottom: 100px;
}