.postcard {
    background-image: url("postcard.png");
    background-size: 100%;
    border: 8px solid black;
    width: 520px;
    height: 370px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 10px;
    z-index: 6;
    position: relative;
}

.postcard-about {
    width: 50%;
    margin: auto;
    padding: 20px;
    font-size: 23px;
    text-align: left;
    font-family: Bradley Hand, cursive;
}

.email-address {
    width: 50%;
    padding: 20px;
    font-size: 20px;
    font-family: Marker Felt, fantasy;
}

#firstCard {
    rotate: -6deg;
}

#secondCard {
    rotate: 4deg;
}

#signup-button {
    height: 75px;
    width: 250px;
}

.row {
    padding: 50px;
    border-bottom: dashed 1px lightgrey;
}

.about {
    min-width: 500px;
    max-width: 550px;
    margin: auto;
    font-size:20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#content {
    padding-top: 35px;
    margin: auto;
    max-width: 1500px;
}

#FAQs {
    background-color: #FFFCC9;
    padding-bottom: 50px;
}

h2 {
    font-size: 40px;
    font-family: "Marker Felt", fantasy;
    text-align: center;
    padding-top: 20px;
    background-color: #a55233;
    box-shadow: black -2px 4px 12px 0px;
    margin-bottom: 40px;
}

li {
    font-style: italic;
    font-size: 21px;
}

.character {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    background-color: #FFFCC9;
    align-items: center;
    border-bottom: dashed 1px lightgrey;
}

.character > div {
    width: 50%;
    min-width: 500px;
}

.character > div > img {
    min-width: 400px;
    width: 100%;
}

.character > .postcard {
    rotate: 6deg;
}

#AI-Pals {
    margin: 0;
    background-color: #FFFCC9;
}

#AI-Pals > p {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
}


h3 {
    height: fit-content;
    width: fit-content;
    position: absolute;
    font-size: 37px;
    color: white;
    text-decoration: underline;
    padding: 9px;
    font-family: Bradley Hand, cursive;
    background-color: #bfc2f6b0;
    border-radius: 41px;
    margin: 5px;
}

i {
    font-size: 40px;
    color: dodgerblue; 
}

ol {
    padding-right: 60px;
}

.fa-cake-candles {
    color: red;
}