{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}"></script>
<div id="content">
    <div class="row">
        <div class="col">
            <div class="postcard" id="firstCard">
                <div class="postcard-about">
                    Send me questions about the world, and things to lookup!
                </div>
                <div class="post-card email-address">
                    <p><span class="email">
                        <a href="mailto:librarian@fraind.email">librarian@fraind.email</a>
                    </span></p>
                </div>  
            </div>
        </div>
        <div class="col">
            <div class="about">
                <p>
                    Imagine having a friend from the realm of magic and adventure as your very own email penpal! Meet your frAInd: a companion who's eager to embark on email adventures with you, sharing stories, and wisdom from worlds both near and far. 
                </p>
                <p><i class="fa-solid fa-envelope-open-text"></i></p>
                <p>
                    Whether you're looking for a librarian, a storyteller, or a guide to the mysteries of the universe, your AI friend is here, ready to chat and explore endless possibilities together!
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="about">
                <p><i class="fa-solid fa-paper-plane"></i></p>
                <div class="signup_div">
                    <p>Embark on an unforgettable journey today! Sign up in just a few clicks, select your very own frAInd from a gallery of enchanting characters, and dive into a world of conversation, creativity, and companionship. With your penpal by your side, every email opens a door to new adventures, learning, and fun.</p>
                    <button id="signup-button" class="btn btn-primary" data-toggle="modal" data-target="#signupModal">Happy Birthday! <i class="fa-solid fa-cake-candles"></i></button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="postcard" id="secondCard">
                <div class="postcard-about">
                   Let's joke around and tell stories, together!
                </div>
                <div class="post-card email-address">
                    <p><span class="email">
                        <a href="mailto:captain@fraind.email">captain@fraind.email</a>
                    </span></p>
                </div>  
            </div>
        </div>
    </div>
    <section id="FAQ">
    <div class="row">
        <div class="col">
            <div id="FAQs">
                <h2>FAQs</h2>
                <ol>
                    <li>What is a frAInd?</li>
                    <p>A frAnd is an AI Friend or Pal. A virtual penpal who's always ready to chat, share stories, and explore the world with you. Your frAInd is a friendly, magical character who's here to make your email experience more fun, engaging, and meaningful.</p>
                    <li>Do I have to use email?</li>
                    <p>Yes, you'll need an email address to sign up and communicate with your frAInd. If you don't have an email address, you can create one for free with Gmail, Yahoo, or another email service provider.</p>
                    <li>Do frAInds understand images or attachments?</li>
                    <p>frAInds can't see images or attachments yet (coming soon!), but they can read and respond to text in your emails. If you want to share a picture or file with your frAInd, you can describe it in your email, and your AI buddy will respond with a story, a question, or a comment based on your description.</p>
                    <li>Can I have more than one frAInd?</li>
                    <p>Yes, you can have multiple frAInds! You can choose a different AI Pal for each email you send, or you can have a conversation with the same frAInd over time. You can also switch between frAInds whenever you like, so you can explore different personalities, interests, and stories.</p>
                    <li>How do I know if my frAInd is real?</li>
                    <p>Your frAInd is a virtual character, not a real person, but they're designed to be friendly, engaging, and responsive, so you can enjoy a fun and meaningful conversation with them. If you have any questions or concerns about your AI Pal, you can me at 
                        <a href="mailto:diamond@frAInd.email">
                            diamond@frAInd.email
                        </a>
                    </p>
                    <li>Can I create my own frAInd?</li>
                    <p>Not yet, but we're working on it! In the future, we plan to offer a feature that lets you create your own frAInd, so you can design a character with a unique personality, appearance, and backstory. Stay tuned for updates on this exciting new feature!</p>
                    <li>I have a question that's not listed here. How can I get help?</li>
                    <p>This is a hobby project and I'm always happy to help you with any questions or concerns you may have, reach me at
                        <a href="mailto:diamond@frAInd.email">
                            diamond@frAInd.email
                        </a>
                    </p>
                </ol>
                
            </div>
        </div>
    </section>
    <section id="Meet">
        <div class="row">
            <div class="col">
                <div id="AI-Pals">
                    <h2>Meet Your fr<span class="highlight">AI</span>nds</h2>
                    <p>Choose your frAInd from a gallery of enchanting characters, each with a unique personality, appearance, and backstory. Whether you're looking for a librarian, a storyteller, or a guide to the mysteries of the universe, your AI Pal is here, ready to chat and explore endless possibilities together!</p>
                </div>
                <div class="character">
                    <h3>The Librarian</h3>
                    <div>
                        <img src="{{url_for('static', filename='librarian.webp')}}" alt="character1" class="character-image">
                    </div>
                    <div class="postcard">
                        <div class="postcard-about">
                            Hey. I'm a librarian. I'm here to help you with your research, answer your questions, and explore the world with you.
                        </div>
                        <div class="post-card email-address">
                            <p><span class="email">
                                <a href="mailto:librarian@fraind.email">librarian@fraind.email</a>
                            </span></p>
                        </div>  
                    </div>
                </div>
                <div class="character">
                    <h3>The Captain</h3>
                    <div>
                        <img src="{{url_for('static', filename='captain.webp')}}" alt="character1" class="character-image">
                    </div>
                    <div class="postcard">
                        <div class="postcard-about">
                            I'm the captain of this here imaginary world. I like to joke around, tell stories, and be an underpants wearing superhero.
                        </div>
                        <div class="post-card email-address">
                            <p><span class="email">
                                <a href="mailto:captain@fraind.email">captain@fraind.email</a>
                            </span></p>
                        </div>  
                    </div>
                </div>
                <div class="character">
                    <h3>Steve</h3>
                    <div>
                        <img src="{{url_for('static', filename='steve.webp')}}" alt="character1" class="character-image">
                    </div>
                    <div class="postcard">
                        <div class="postcard-about">
                            My name is Steve and I happen to know quite a lot about Minecraft. I love to talk about it and share my knowledge with you, maybe we can even play together one day!
                        </div>
                        <div class="post-card email-address">
                            <p><span class="email">
                                <a href="mailto:steve@fraind.email">steve@fraind.email</a>
                            </span></p>
                        </div>  
                    </div>
                </div>
            </div>
    </section>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupModalLabel"><i class="fa-solid fa-cake-candles"></i><i class="fa-solid fa-gift"></i><i class="fa-solid fa-cake-candles"></i></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          You're signed up already if it's your birthday! Just shoot any of the frAInds an email to get started. 
          If not, you can sign up for the private beta by joining the waitlist here: 
          <a href="https://forms.gle/w38fAV1sMfQYJ4Bp6" target="_blank">Sign Up</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    
{% endblock %}